// 숨김 콘텐츠를 위한 믹스인
@mixin a11yHidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.a11yHidden,
legend {
  @include a11yHidden;
}
