@use "sass:math";
@use "./unit" as *;
@use "./variable" as *;

// 여백 관련 믹스인
@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
}
@mixin marginX($marginX: 0) {
  margin-left: rem($marginX);
  margin-right: rem($marginX);
}
@mixin marginY($marginY: 0) {
  margin-top: rem($marginY);
  margin-bottom: rem($marginY);
}

@mixin paddingX($paddingX: 0) {
  padding-left: rem($paddingX);
  padding-right: rem($paddingX);
}

@mixin paddingY($paddingY: 0) {
  padding-top: rem($paddingY);
  padding-bottom: rem($paddingY);
}

// position 관련 믹스인
@mixin pos($pos: absolute, $t: initial, $l: initial) {
  position: $pos;
  top: $t;
  left: $l;
}
@mixin posCenterX($pos: absolute) {
  @include pos($pos);
  left: 50%;
  transform: translateX(-50%);
}
@mixin posCenterY($pos: absolute) {
  position: $pos;
  top: 50%;
  transform: translateY(-50%);
}

@mixin posCenter($pos: absolute) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 박스의 최소 및 최대 너비를 설정하기 위한 믹스인
@mixin boxSizeMax($max: $container-width) {
  max-width: $max;
  @include autoMargin;
}

// 말줄임표 믹스인
@mixin textEllipis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// 반응형 iframe
@mixin responseIframe($w: 16, $h: 9) {
  position: relative;
  width: 100%;
  height: 0 !important;
  padding-top: math.div($h, $w) * 100%; // 56.25%

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// float 이슈를 해결하기 위한 믹스인
@mixin clearFix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// 고행상도 디스플레이를 위한 배경이미지 관련 믹스인
@mixin bgRetina($file, $type) {
  background-image: url("../../assets/images/" + $file + "." + $type);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    & {
      background-image: url("../../assets/images/" + $file + "@2x." + $type);
    }
  }
}

// 텍스트 스타일 믹스인
@mixin textStyle($size) {
  font-size: rem($size);
  letter-spacing: -0.02rem;
  // line-height: 1.5;
}
