@use "./../utils" as *;

.formInput {
  &__input {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid $silver;
    border-radius: rem(4px);
    height: rem(32px);
    padding: rem(4px) rem(8px);
  }
}
