@use "../utils" as *;

// navigation.scss
.menu {
  background: pink;
  @include mobile {
    display: none;
  }
  @include desktop {
    @include boxSizeMax;
    @include paddingY(36px);
  }
}

.is--active {
  @include mobile {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    height: 100vh;
  }
}
.menu__list {
  @include mobile {
    @include flexbox($d: column);
    gap: rem(14px);
    @include paddingX(24px);
    @include paddingY(24px);
  }
  @include desktop {
    @include flexbox($j: space-between);
    @include marginX(28px);
  }
}
.meny__item {
  @include mobile {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
    }
  }
}
.menu__link {
  @include mobile {
    @include paddingX(rem(20px));
  }
  @include desktop {
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black;
  }
}
