@use "./../utils" as *;
.home {
}

[class*="__title"] {
  @include flexbox(column, center);
  @include textHeading(18px);
}

[class*="__summary"] {
  @include textStyle(14px);
}

.home {
  padding: rem(16px) rem(24px);

  [class*="__title"] {
    margin-bottom: rem(16px);
  }

  @include mobile {
    @include flexbox(column);
    gap: rem(16px);
  }

  @include desktop {
    @include boxSizeMax;
    @include gridbox();
    grid-template-areas: "news news news news news news news news news news news news" "book book book book favorite favorite favorite twitter twitter twitter twitter twitter" "book book book book . board board board board board board board";
  }
  .book {
    grid-area: book;
  }
  .news {
    grid-area: news;
  }
  .board {
    grid-area: board;
  }
  .favorite {
    grid-area: favorite;
  }
  .twitter {
    grid-area: twitter;
  }
}
.book {
  &__cover {
    text-align: center;
  }
  &__info {
    text-align: center;
  }
  &__figcaption {
    text-align: center;
  }
}
.news {
  &__date {
    @include desktop {
      display: block;
      text-align: right;
      margin-top: 0.5rem;
    }
  }
  .iframeWrapper {
    @include responseIframe;
  }
}
.board {
  position: relative;
  &__item {
    @include flexbox($j: space-between);
  }
  &__link {
    display: block;
    width: calc(100% - 6.25em);
    padding: 0.5rem 0;
    @include textEllipis;
  }
  &__date {
    width: 6.25em;
    padding: 0.5rem 0;
    text-align: right;
  }
  &__more {
    position: absolute;
    top: 0.25rem;
    right: 0;
    padding: 0.5rem 0;
  }
}
.favorite {
  &__link {
    display: block;
    padding: rem(8px) 0;
  }
}
.twitter {
}
